<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container" >
		
		{{{body}}}
	</div>
<div>
    <div class="pizzas">
        <div class="Box small_pizza">

            <h2>Small Pizza</h2>

            <div class="pizza_img">
                <img src="small-pizza.png" width="100">
            </div>
            <table class="pizza_top">
                <tr>
                    <td colspan="2">
                        <h3>R49.00</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            All Meaty.<br>
                            Pepperoni, sausage, bacon.<br>
                            Thousand island dressing and swiss cheese.
                        </div>
                    </td>
                    <td>
                        <button class="pBtn small buy" on type="button" name="add">Buy</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="Box medium_pizza">

            <h2>Medium Pizza</h2>

            <div class="pizza_img">
                <img src="small-pizza.png" width="125">
            </div>
            <table class="pizza_top">
                <tr>
                    <td colspan="2">
                        <h3>R89.00</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            All Meaty.<br>
                            Pepperoni, sausage, bacon.<br>
                            Thousand island dressing and swiss cheese.
                        </div>
                    </td>
                    <td>
                        <button class="pBtn med buy" on type="button" name="add">Buy</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="Box large_pizza">

            <h2>Large Pizza</h2>

            <div class="pizza_img">
                <img src="small-pizza.png" width="150">
            </div>
            <table class="pizza_top">
                <tr>
                    <td colspan="2">
                        <h3>R150.00</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            All Meaty.<br>
                            Pepperoni, sausage, bacon.<br>
                            Thousand island dressing and swiss cheese.
                        </div>
                    </td>
                    <td>
                        <button class="pBtn large buy" on type="button" name="add">Buy</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="Box contact_us">

        <h2>Contact Details</h2>

        <p id="contact_us">
            Contact us at: 011 547 7008
        </p>

    </div>

    <div class="footer">
        Thabile Dube | @presidentialpizza.co | Pizza shopping cart  | est.2021
    </div>
</body>
</html>