  

 <div>
    <div class="contain cart">
        <h2>Pizza Shopping Cart</h2>
        <table class="cartTable">
            <form action="/count" method="post" >
            <tr>
                <td class="item">
                    <h3 class="item">Small Pizza</h3>
                </td>
                <td><button class="pBtn small" id="test" on type="button" name="add">-</button></td>
                <td>
                    <h3 class="smallPizzaQty item">0</h3>
                </td>
                <td><button class="mBtn small" on type="button" name="reduce">+</button></td>
                <td>
                    <h3 class="item">R<span class="smallPizzaTotal">{{data2}}</span>
                </td>
            </tr>
    </div>
            <tr>
                <td class="item">
                    <h3 class="item">Medium Pizza</h3>
                </td>
                <td><button class="pBtn med" on type="button" name="add">-</button></td>
                <td>
                    <h3 class="medPizzaQty item">0</h3>
                </td>
                <td><button class="mBtn med" on type="button" name="reduce">+</button></td>
                <td>
                    <h3 class="item">R<span class="medPizzaTotal">{{med}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <h3 class="item">Large Pizza</h3>
                </td>
                <td><button class="pBtn large" on type="button" name="add">-</button></td>
                <td>
                    <h3 class="largePizzaQty item">0</h3>
                </td>
                <td><button class="mBtn large" on type="button" name="reduce">+</button></td>
                <td>
                    <h3 class="item">R<span class="largePizzaTotal">{{lar}}</span>
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    <h3 class="item">Total Cost</h3>
                </td>
                <td>
                    <h3 class="item">R<span class="cartTotal">0.00</span></h3>
                </td>
            </tr>

            <tr>
                <td colspan="5">
                    <button class="checkOut {{data}}" on type="button" name="checkOut">Check Out</button>
                </td>
            </tr>
        </table>

        <div class="payOut hidden">
            <table class="cartTable">
                <tr>
                    <h3 class="hidden item message">Message</h3>
                </tr>
                <tr>
                    <td>
                        <h3>Payment Amount:</h3>
                    </td>
                    <td class="pAmt">R<input class="payAmt" type="number"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="payBtn" on type="button" name="pay">Pay</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

<div>
    
</form>

    
</div>
<form action="/buy" name="pizzaForm" method="post">
    <div class="pizzas">
        <div class="Box small_pizza">

            <h2>Small Pizza</h2>

            <div class="pizza_img">
                <img src="small-pizza.png" width="100">
            </div>
            <table class="pizza_top">
                <tr>
                    <td colspan="2">
                        <h3>R49.00</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            All Meaty.<br>
                            Pepperoni, sausage, bacon.<br>
                            Thousand island dressing and swiss cheese.
                        </div>
                    </td>
                    <td>
                        <button class="pBtn small buy" on type="submit" name="add" value="small">Buy</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="Box medium_pizza">

            <h2>Medium Pizza</h2>

            <div class="pizza_img">
                <img src="small-pizza.png" width="125">
            </div>
            <table class="pizza_top">
                <tr>
                    <td colspan="2">
                        <h3>R89.00</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            All Meaty.<br>
                            Pepperoni, sausage, bacon.<br>
                            Thousand island dressing and swiss cheese.
                        </div>
                    </td>
                    <td>
                        <button class="pBtn med buy" on type="submit" name="add" value="medium">Buy</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="Box large_pizza">

            <h2>Large Pizza</h2>

            <div class="pizza_img">
                <img src="small-pizza.png" width="150">
            </div>
            <table class="pizza_top">
                <tr>
                    <td colspan="2">
                        <h3>R150.00</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            All Meaty.<br>
                            Pepperoni, sausage, bacon.<br>
                            Thousand island dressing and swiss cheese.
                        </div>
                    </td>
                    <td>
                        <button class="pBtn large buy" on type="submit" name="add" value="large">Buy</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
    <div class="Box contact_us">

        <h2>Contact Details</h2>

        <p id="contact_us">
            Contact us at: 011 547 7008
        </p>

    </div>

    <div class="footer">
        Thabile Dube | @presidentialpizza.co | Pizza shopping cart  | est.2021
    </div>